name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths-ignore:
      - '**.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE.txt'
      - '**.md'
      - '**.adoc'
      - '**.txt'
      - '.all-contributorsrc'
      - 'localdeployment/docker-compose.yml'
  pull_request:
    paths-ignore:
      - '**.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE.txt'
      - '**.md'
      - '**.adoc'
      - '**.txt'
      - '.all-contributorsrc'
      - 'localdeployment/docker-compose.yml'

concurrency:
  group: "workflow = ${{ github.workflow }}, ref = ${{ github.event.ref }}, pr = ${{ github.event.pull_request.id }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' || github.repository != 'chehl/chameleon' }}

permissions:
  actions: write
  checks: write
  pull-requests: write

jobs:
  recreate-comment:
    runs-on: ubuntu-latest

    steps:
      - name: Publish Report
        uses: turing85/publish-report@v1.0.11
        with:
          checkout: 'true'
          recreate-comment: true

  populate-cache:
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Populate cache
        uses: ./.github/actions/populate-cache

  build-and-test:
    runs-on: ubuntu-latest

    needs:
      - recreate-comment
      - populate-cache

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build and Test
        run: ./gradlew --no-daemon build

      - name: Upload Test Report
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: unit-test-report
          path: '**/build/test-results/test/*.xml'
          if-no-files-found: error
          retention-days: 2

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: code-coverage-report
          path: '**/build/reports/jacoco/test/*.xml'
          if-no-files-found: error
          retention-days: 2

      - name: Upload JARs
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: jars
          path: '**/build/libs/*.jar'
          if-no-files-found: error
          retention-days: 2

      - name: Publish Report
        if: ${{ always() }}
        uses: turing85/publish-report@v1.0.11
        with:
          report-name: JUnit Test
          report-path: '**/build/test-results/test/TEST*.xml'

  sonar:
    runs-on: ubuntu-latest

    needs:
      - build-and-test

    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Coverage Report
        uses: actions/download-artifact@v3
        with:
          name: code-coverage-report

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'gradle'

      - name: Sonar Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew \
            --no-daemon \
            -Dsonar.sourceEncoding=UTF-8 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=chehl \
            -Dsonar.projectKey=chehl_chameleon \
            -Dsonar.login=${SONAR_TOKEN} \
            sonar

  owasp:
    runs-on: ubuntu-latest

    needs:
      - recreate-comment
      - populate-cache

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: OWAS Dependency check
        uses: ./.github/actions/owasp

  integration-tests:
    runs-on: ubuntu-latest

    needs:
      - build-and-test

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Integration Test
        uses: ./.github/actions/integration-test
        with:
          download-jars: 'true'